@model HomeViewModel

@{ ViewBag.Title = "Home"; }

<div>
    <h1>Page views: @Model.ViewsCount</h1>
    <h2>Text: @Model.Title</h2>
    <a asp-action="Index" asp-controller="Todos">Todos</a>
    <a asp-action="About">About</a>
</div>
